*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'BrandonGrotesque-Light';
  src: url('../fonts/BrandonGrotesque-Light.woff') format('woff')
}
@font-face {
  font-family: 'BrandonGrotesque-Medium';
  src: url('../fonts/BrandonGrotesque-Medium.woff') format('woff')
}
a, p, textarea{
  font-family: 'BrandonGrotesque-Light', Fallback, sans-serif;

  color: #717171;
}
a{
  font-size: 0.7em;
  text-decoration: none;
  color: blue;
}
p{
  line-height: 1.8em;
  font-size: 0.8em;
}
textarea{
  line-height: 1.8em;
  font-size: 1em;
}
h1,h2,h3,h4,h5{
  font-family: 'BrandonGrotesque-Medium', Fallback, sans-serif;
  color: #717171;
  letter-spacing: 0.05em;
}
h1{
  font-size: 1.5em;
  color: #717171;
}





@import 'bones/variables';
@import 'bones/templates';
@import 'bones/navbar';
@import 'bones/bones';
@import 'bones/feed';
@import 'bones/form';
@import 'skin/navbar';
@import 'skin/loading';
