* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'BrandonGrotesque-Light';
  src: url("../fonts/BrandonGrotesque-Light.woff") format("woff"); }

@font-face {
  font-family: 'BrandonGrotesque-Medium';
  src: url("../fonts/BrandonGrotesque-Medium.woff") format("woff"); }

a, p, textarea {
  font-family: 'BrandonGrotesque-Light', Fallback, sans-serif;
  color: #717171; }

a {
  font-size: 0.7em;
  text-decoration: none;
  color: blue; }

p {
  line-height: 1.8em;
  font-size: 0.8em; }

textarea {
  line-height: 1.8em;
  font-size: 1em; }

h1, h2, h3, h4, h5 {
  font-family: 'BrandonGrotesque-Medium', Fallback, sans-serif;
  color: #717171;
  letter-spacing: 0.05em; }

h1 {
  font-size: 1.5em;
  color: #717171; }

.templates {
  padding-top: 6em;
  width: 1200px;
  margin: auto; }

@media (max-width: 1250px) {
  .templates {
    width: 950px; } }

@media (max-width: 1000px) {
  .templates {
    width: 600px; } }

@media (max-width: 650px) {
  .templates {
    padding-top: 5em;
    padding-bottom: 5em;
    width: 95%;
    margin: auto; } }

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  z-index: 3; }

.navcontent {
  width: 1200px;
  margin: auto;
  padding-left: 22px;
  padding-right: 22px; }

.logo {
  height: 2em;
  width: auto; }

.nav {
  float: right; }

.mobilefooter {
  display: none; }

@media (max-width: 1250px) {
  .navcontent {
    width: 950px; } }

@media (max-width: 1000px) {
  .navcontent {
    width: 600px; } }

@media (max-width: 650px) {
  .mobilefooter {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3em;
    background-color: black;
    z-index: 3; }
  header {
    text-align: center; }
  .nav {
    display: none; }
  .navcontent {
    width: 95%; } }

html {
  background-color: #E4E4E4; }

.formContainer {
  margin: auto;
  width: 100%;
  margin-bottom: 28px; }

.formContainerProfile {
  float: right;
  width: 70%;
  margin-bottom: 22px;
  padding: 22px; }

.newPostFormProfile {
  width: 95%;
  height: 291px;
  background-color: white; }

.feedContainerProfile {
  width: 70%;
  float: right; }

.profileContainer {
  height: 600px;
  width: 350px;
  position: fixed;
  padding: 22px; }

.profile {
  height: 100%;
  width: 100%;
  background-color: white; }

.pro-top {
  width: 100%;
  text-align: center; }

.pro-pic {
  border-radius: 50%;
  margin-top: 2em;
  height: 120px;
  width: 120px;
  object-fit: cover; }

.progress-container {
  width: 60%;
  margin: auto;
  height: 0.8em;
  background-color: #B1B1B1;
  margin-top: 1em;
  margin-bottom: 1em; }

.progress-fill {
  height: 0.8em;
  background-color: #5B5B5B; }

.pro-kids {
  padding: 2em;
  width: 100%;
  display: flex;
  background-color: white; }

.pro-kid-pic {
  border-radius: 50%;
  height: 45px;
  width: 45px;
  object-fit: cover; }

.kid-pic-cont {
  background-color: skyblue; }

.pro-form {
  width: 100%;
  height: 10%;
  background-color: skyblue; }

.newPostForm {
  margin-bottom: 128px;
  width: 1156px;
  height: 291px;
  margin: auto;
  background-color: white; }

.feedContainer {
  width: 100%; }

.feedPost {
  width: 356px;
  margin: 22px;
  background-color: white;
  overflow: hidden;
  display: inline-block; }

.post-img {
  height: 15em;
  width: 100%; }

.post-content {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em; }

.points {
  float: right;
  font-size: 0.6em; }

.pointsicon {
  margin-right: 0.5em;
  height: 1em;
  width: auto; }

.title {
  margin-top: 0.5em;
  margin-bottom: 0.5em; }

.bottom {
  background-color: #F4F4F4;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em; }

.edit {
  float: right; }

@media (max-width: 1250px) {
  .newPostForm {
    margin-bottom: 128px;
    width: 906px;
    height: 291px; }
  .feedPost {
    width: 430px;
    margin: 22px; }
  .formContainerProfile {
    float: right;
    width: 100%;
    margin-bottom: 22px;
    padding-left: 22px;
    padding-right: 22px; }
  .newPostFormProfile {
    width: 100%;
    height: 291px; }
  .feedContainerProfile {
    width: 100%; }
  .profileContainer {
    width: 100%;
    height: 300px;
    position: static; } }

@media (max-width: 1000px) {
  .newPostForm {
    margin-bottom: 128px;
    width: 556px; }
  .feedPost {
    width: 556px;
    margin: 22px; } }

@media (max-width: 650px) {
  .newPostForm {
    margin-bottom: 128px;
    width: 100%;
    height: 291px; }
  .feedPost {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    overflow: hidden;
    display: inline-block; }
  .formContainerProfile {
    float: right;
    width: 100%;
    margin-bottom: 22px;
    padding-left: 0;
    padding-right: 0; }
  .newPostFormProfile {
    width: 100%;
    height: 291px; }
  .feedContainerProfile {
    width: 100%; }
  .profileContainer {
    width: 100%;
    height: 300px;
    position: static;
    padding-left: 0;
    padding-right: 0; } }

.form-title {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 100%; }
  .form-title input {
    width: 100%; }

.form-body {
  width: 100%;
  height: 12em;
  padding-left: 1em;
  padding-right: 1em; }

.form-footer {
  width: 100%;
  background-color: grey;
  height: 3em;
  display: inline-flex; }
  .form-footer input {
    padding: 1em;
    background-color: grey; }

textarea {
  border: none;
  outline: none;
  width: 100%;
  resize: none;
  height: 100%; }

input {
  outline: none;
  border: none; }

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

button {
  flex-grow: 1;
  outline: none;
  border: none;
  height: 3em;
  padding: 0.5em;
  background-color: skyblue; }
  button h5 {
    font-size: 0.8em;
    letter-spacing: 0.2em; }

select {
  flex-grow: 1;
  outline: none;
  border: none;
  height: 3em;
  padding: 0.5em;
  background-color: teal;
  -webkit-appearance: none;
  -webkit-border-radius: 0px; }

header {
  background-color: white; }

.pulsating {
  position: absolute;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  height: 20vmin;
  width: 20vmin;
  margin: -10vmin;
  border-radius: 100%;
  background: skyblue;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: codefights-pulsating 1s cubic-bezier(0.73, -0.6, 0.465, 1.64) infinite; }
  .pulsating img {
    height: 60%; }

@keyframes codefights-pulsating {
  0% {
    box-shadow: 0 0 0 0vmin rgba(135, 206, 235, 0.2), 0 0 0 3vmin rgba(135, 206, 235, 0.2), 0 0 0 6vmin rgba(135, 206, 235, 0.2), 0 0 0 9vmin rgba(135, 206, 235, 0.2); }
  100% {
    box-shadow: 0 0 0 3vmin rgba(135, 206, 235, 0.2), 0 0 0 6vmin rgba(135, 206, 235, 0.2), 0 0 0 9vmin rgba(135, 206, 235, 0.2), 0 0 0 12vmin rgba(135, 206, 235, 0); } }
