.form-title{
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 100%;
  input{
    width: 100%;
  }
}
.form-body{
  width: 100%;
  height: 12em;
  padding-left:1em;
  padding-right: 1em;
}
.form-footer{
  width: 100%;
  background-color: grey;
  height: 3em;
  display: flex;
  justify-content: flex-end;
}
.formelement{
  height: 3em;
  flex-flow: row;
  input{
    height: 100%;
    padding:1em;
  }
  button{
    height: 100%;
    margin: 0;
  }
  select{
    height: 100%;
    padding: 1em;
  }
  .submit{
    width: 10em;
    background-color: red;
  }
  .image{
    width: 5em;
    background-color: purple;
  }
  .minus{
    background-color: red;
    width: 3em;
  }
  .hours{
    background-color: teal;
    width: 3em;
  }
  .add{
    background-color: green;
    width: 3em;
  }
  .city{
    background-color: pink;
    width: 10em;
  }
  .state{
    background-color: orange;
    width:10em;
  }
  .kid{
    background-color: skyblue;
    width:10em;
  }
}

textarea{
  border: none;
  outline: none;
  width: 100%;
  resize: none;
  height: 100%;
}
input{
  outline: none;
  border: none;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
button{
  outline: none;
  border: none;
  background-color: skyblue;
  h5{
    font-size: 0.8em;
    letter-spacing: 0.2em;
  }
}
select{
  outline: none;
  border: none;
  background-color: teal;
  -webkit-appearance: none;
    -webkit-border-radius: 0px;
}
