.form-title{
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 100%;
  input{
    width: 100%;
  }
}
.form-body{
  width: 100%;
  height: 12em;
  padding-left:1em;
  padding-right: 1em;
}
.form-footer{
  width: 100%;
  background-color: #E7E9EC;
  height: 3em;
  display: inline-flex;
vertical-align: middle;
  }
.formelement{
  height: 3em;
vertical-align: middle;
  input{
    height: 100%;
    margin: 0;
  }
  button{
    height: 100%;
    margin: 0;
  background-color: #E7E9EC;

  }
  select{
    height: 100%;
      background-color: white;
  }
  .submit{
        width: 10em;
        padding: 1em;
        background-color: teal;
        :hover{
          cursor:pointer;
        }
  }
  .image{
    padding-left: 1em;
    padding-right: 1em;
  }
  .imageup{
    background-color: white;
    padding-left: 1em;
    padding-right: 1em;
    h5{
      color:silver;
    }
    :hover{
      cursor:pointer;
    }

  }
  .hourslabel{

        padding-left: 1em;
        padding-right: 1em;
  }
  .minus{
  background-color: white;
    padding-left: 0.5em;

    h5{
      color: red;
    }
    :hover{
      cursor: pointer;

    }

  }
  .hours{

    width: 2em;
    background-color: white;
    h4{
      color:silver;
    }

  }
  .add{
background-color: white;
    padding-right: 0.5em;

    h5{
      color: green;
    }
    :hover{
      cursor: pointer;
    }

  }
  .location{
        padding-left: 1em;
        padding-right: 1em;
  }
  .city{
    width: 6em;
    padding: 1em;

  }
  .state{

    padding-left: 1em;
    padding-right: 1em;

  }
  .dropv{
    background-color: white;
  }
  .kidslabel{

    padding-left: 1em;
    padding-right: 1em;
  }
  .kid{

    padding-left: 1em;
    padding-right: 1em;

  }
}

textarea{
  border: none;
  outline: none;
  width: 100%;
  resize: none;
  height: 100%;
}
input{
  outline: none;
  border: none;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
button{
  outline: none;
  border: none;

  h5{
    font-size: 0.9em;
    letter-spacing: 0.1em;
  }
}
select{
  color:silver;
  outline: none;
  border: none;

  -webkit-appearance: none;
    -webkit-border-radius: 0px;
}

i, h5{ vertical-align: middle !important; }
