.form-title{
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 100%;
  input{
    width: 100%;
  }
}
.form-body{
  width: 100%;
  height: 12em;
  padding-left:1em;
  padding-right: 1em;
}
.form-footer{
  width: 100%;
  background-color: white;
  height: 12em;
  vertical-align: middle;
  }
  .sendit{
    width: 100%;
    height:3em;
    background-color: silver;
    margin: auto;
  }
  .senditkid{
    width: 85%;
    height:3em;
    background-color: #43B581;
    float: left;
  }
  .senditback{
    width: 15%;
    height:3em;
    background-color: #F04848;
    float: left;
  }
.formelement{
  height: 3em;
  display: inline-block;
vertical-align: middle;
.checklabel{
  margin-bottom: -2px;
  
}
  input{
    height: 100%;
    margin: 0;
  }
  button{
    height: 100%;
    margin: 0;
  background-color: white;

  }
  select{
    height: 100%;
    background-color: WHITE;
  }


  .image{
    padding-left: 1em;
    padding-right: 1em;
  }
  .imageup{

    padding-left: 1em;
    padding-right: 1em;
    h5{

    }
    :hover{
      cursor:pointer;
    }

  }
  .hourslabel{

        padding-left: 1em;
        padding-right: 1em;
  }
  .minus{
    padding-left: 0.5em;

    h5{
      color: red;
      font-size: 1.5em;
    }
    :hover{
      cursor: pointer;

    }

  }
  .hours{

    width: 4em;


  }
  .add{
    padding-right: 0.5em;

    h5{
      color: green;
      font-size: 1.5em;
    }
    :hover{
      cursor: pointer;
    }

  }
  .location{
        padding-left: 1em;
        padding-right: 1em;
  }
  .city{
    width: 6em;
    padding: 1em;

  }
  .state{

    padding-left: 1em;
    padding-right: 1em;

  }
  .dropv{

  }
  .kidslabel{

    padding-left: 1em;
    padding-right: 1em;
  }
  .kid{

    padding-left: 1em;
    padding-right: 1em;

  }
}

textarea{
  border: none;
  outline: none;
  width: 100%;
  resize: none;
  height: 100%;
}
input{
  outline: none;
  border: none;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
button{
  outline: none;
  border: none;

  h5{
    font-size: 0.9em;
    letter-spacing: 0.1em;
  }
}
select{
  outline: none;
  border: none;

  -webkit-appearance: none;
    -webkit-border-radius: 0px;
}

i, h5{ vertical-align: middle !important; }
.ib{
  display: inline-block;
}



@media (max-width: 1250px) {
.formelement{

}

}
@media (max-width: 1000px) {
.formelement{


}

}
@media (max-width: 650px) {


}








.addform{
  img{
    height: 75px;
    width: 75px;
  }
  input{
    margin-bottom: 2em;
  }
}
.currentavatar{

  }
