header{
  position:fixed;
  top:0;
  left:0;
  right:0;
  padding-top:1em;
  padding-bottom:1em;
  z-index: 3;

}
.navcontent{
  width: 1200px;
  margin: auto;
  padding-left: 22px;
  padding-right:22px;
  // background-color: skyblue;
}
.logo{
  height:2em;
  width:auto;
}
.nav{
  float:right;
}
.mobilefooter{
  display: none;
}



@media (max-width: 1250px) {
  .navcontent{
    width: 950px;
    }


}
@media (max-width: 1000px) {
  .navcontent{
    width: 600px;
    }


}


@media (max-width: 650px) {
  .mobilefooter{
    display: block;
    position: fixed;
    bottom:0;
    left: 0;
    right:0;
    height:3em;
    background-color: black;
    z-index: 3;
  }
  header{
    text-align: center;
  }
  .nav{
    display: none;
  }
  .navcontent{
    width: 95%;
  }
}
