<h2>
  Outside4Life was created by <a href = "https://www.avid4.com">Avid4 Adventure</a>
  to encourage kids to be active outdoors.
  Log your kid's outdoor activity hours, and cheer them on as they climb up our scoreboard!
</h2>
<br>
<h3>How to play: </h3><br>
<h4> - Create a family Profile and aliases for each of your kids</h4><br>
<h4> - Go to the Feed to post your kids' outdoor activity and hours spent outdoors each day. Check out the exciting activities other kids are doing in the Feed.</h4><br>
<h4> - Encourage your kids to get to the top of our Scoreboard!</h4><br><br>
<h4>We’d love your feedback! Please send any feedback regarding your experience with Outside4Life to: <a href = "mailto:info@avid4.com">info@avid4.com</a></h4><br>
<h3>Contact Us:</h3>
<a href = "mailto:info@avid4.com">info@avid4.com</a><br><br>
<h4>1-800-977-9873</h4><br>
<a href = "www.avid4.com">www.avid4.com</a><br><br>

<a href = "www.avid4.com/policies">Privacy Policy</a>
