
<div class="profileContainer">
  <div class="profile">
    <div class="pro-top">
      <img class="pro-pic" ng-src="{{user.profile_image_url}}" alt=""/>
      <h3 class="pro-name">The {{user.last_name}} Family</h3>
      <p class="pro-hours"><img class="pointsicon"src="../../img/logo.png"/>{{user.total_hours}} / 100</p>
      <div class="progress-container">
        <div class="progress-fill" ng-style="{width: user.total_hours +'%'}"></div>
      </div>

      <div class="kidscont">

        <div class="each-leader" ng-repeat="kid in kids" ng-hide="addform">
          <img class = "leader-photo-pro" src="{{kid.kid_pic}}">
          <a class="leader-name-pro"><h2>{{kid.kid_name}} </h2></a>
          <h5 class="leader-hours leader-hours-profile">{{kid.total_hours}}hrs</h5>
        </div>

    </div>



    </div>
    <!-- <div class="pro-kids" ng-repeat = "kid in kids">
      <div class="kid-pic-cont">
        <img class="pro-kid-pic" ng-src ="{{kid.kid_pic}}">
        <h5>{{kid.kid_name}}</h5>
      </div>
    </div>


    <div class="pro-form">
      <button class = "btn btn-primary" ng-click = "showKidForm()"> Add Kid!</button>
          <form method = "POST" action = "/new/kid" enctype = "multipart/form-data" ng-show = "kidForm">
            <label for = "kid_name"> Enter a Name: </label>
            <br>
            <input class='form-control kidName' type="text" name="kid_name" ng-model="kid_name" required>
            <p> upload a photo: </p>
            <input type = "file" name = "file" required>
            <input type = "hidden" name = "total_hours" value = 0>
            <input type = "hidden" name = "facebook_id" value = "{{user.facebook_id}}">
            <button type="submit" class='btn btn-primary kid_submit'>Submit</button>
        </form>
    </div> -->

    </div>

  </div>


</div>







<div class="feedContainerProfile">

  <div masonry >
      <div class="masonry-brick feedPost container" ng-repeat="post in posts">

        <div class="post-img">
          <img src="{{post.picture_url}}" style='height: 100%; width: 100%; object-fit: cover' />
        </div>
        <div class="post-content">
            <a class="author" href = "/#/user/{{post.facebook_id}}">{{post.author}}</a>
            <p class="points"><img class="pointsicon"src="../../img/logo.png"/></p>
            <h1 class="title">{{post.title}}</h1>
            <p class="description">{{post.description}}</p>
        </div>
        <div class="bottom">
          <p class="points"><img class="pointsicon"src="../../img/logo.png"/>{{post.hours}} hours outside</p>
        <p> {{post.location}}</p>
      </div>
      </div>
  </div>
</div>
