
<div class="profileContainer">
  <div class="profile">
    <div class="pro-top">
      <img class="pro-pic" ng-src="{{user.profile_image_url}}" alt=""/>
      <h3 class="pro-name">The {{user.last_name}} family</h3>
      <p class="pro-hours"><img class="pointsicon"src="../../img/logo.png"/>{{user.total_hours}} / 100</p>
      <div class="progress-container">
        <div class="progress-fill" ng-style="{width: user.total_hours +'%'}"></div>
        <h4> {{message}} </h4>
      </div>

    <div class="kidscont">

      <div class="each-leader" ng-repeat="kid in kids" ng-hide="addform">
        <img class = "leader-photo-pro" src="{{kid.kid_pic}}">
        <a class="leader-name-pro"><h2>{{kid.kid_name}} </h2></a>
        <h5 class="leader-hours leader-hours-profile">{{kid.total_hours}}hrs</h5>
      </div>

  </div>
  <form ng-show="addform" class="addform" method="POST" action="/new/kid" >

    <h3>Choose An Avatar For This Player</h3>
    <img ng-class="{'tada': kid.pic == '../img/avatars/angler.jpg'}" ng-click="selectavatar('../img/avatars/angler.jpg')" class = "leader-photo-pro animated infinite" src="../../img/avatars/angler.jpg">
    <img ng-class="{'tada': kid.pic == '../img/avatars/climbing.jpg'}" ng-click="selectavatar('../img/avatars/climbing.jpg')" class = "leader-photo-pro animated infinite" src="../../img/avatars/climbing.jpg">
    <img ng-class="{'tada': kid.pic == '../img/avatars/kayaking.jpg'}" ng-click="selectavatar('../img/avatars/kayaking.jpg')" class = "leader-photo-pro animated infinite" src="../../img/avatars/kayaking.jpg">
    <img ng-class="{'tada': kid.pic == '../img/avatars/LNT.jpg'}" ng-click="selectavatar('../img/avatars/LNT.jpg')" class = "leader-photo-pro animated infinite" src="../../img/avatars/LNT.jpg">
    <img ng-class="{'tada': kid.pic == '../img/avatars/mtnbiker.jpg'}" ng-click="selectavatar('../img/avatars/mtnbiker.jpg')" class = "leader-photo-pro animated infinite" src="../../img/avatars/mtnbiker.jpg">
    <img ng-class="{'tada': kid.pic == '../img/avatars/SUP.jpg'}" ng-click="selectavatar('../img/avatars/SUP.jpg')" class = "leader-photo-pro animated infinite" src="../../img/avatars/SUP.jpg">
    <h3>Create An Alias For Child ex: iluvbiking</h3>
    <input type="text" name="kid_name" value="" placeholder="Enter An Alias" style="text-align:center;" required="true">
    <input type="hidden" name="kid_pic" ng-value="kid.pic">
    <input type = "hidden" name = "total_hours" value = 0>
    <input type = "hidden" name = "facebook_id" value = "{{user.facebook_id}}">
    <div class="showkidform" ng-show="addform">
      <button ng-click="addformfunc()"type="button" class="senditback"><h3><i class="material-icons">keyboard_backspace</i></h3></button>
      <button type="submit" class="senditkid"><h3><i class="material-icons">send</i> Submit</h3></button>
    </div>
  </form>


  <div class="showkidform" ng-hide="addform">
    <button class="sendit" ng-click="addformfunc()"><h3><i class="material-icons">add</i> Add Child</h3></button>
  </div>
    <!-- <h3> Add Kids!</h3>
      <form method = "POST" action = "/new/kid">
          <input type = "text" name = "kid_name" placeholder = "enter a first name only">
          <br>
         </br>
          <select name = "kid_pic">
            <option value = "disabled">Select an Avatar! </option>
            <option value = "../img/avatars/kayaking.jpg">Kayaking</option>
            <option value = "../img/avatars/climbing.jpg">Climbing</option>
            <option value = "../img/avatars/LNT.jpg">Hiking</option>
            <option value = "../img/avatars/SUP.jpg">SUP</option>
            <option value = "../img/avatars/mtnbiker.jpg">Mountain Biking</option>
            <option value = "../img/avatars/angler.jpg">Fishing</option>
          </select>
          <input type = "hidden" name = "total_hours" value = 0>
          <input type = "hidden" name = "facebook_id" value = "{{user.facebook_id}}">
        </br>
        <button type = "submit">Add </button>
      </form>
    </div>
    <div class="pro-kids" ng-repeat = "kid in kids">
      <div class="kid-pic-cont">
        <img class="pro-kid-pic" ng-src ="{{kid.kid_pic}}">
        <h5>{{kid.kid_name}}</h5>
        <h5> Hours: {{kid.total_hours}}</h5>
      </div>
    </div> -->

<!--
    <div class="pro-form">
      <button class = "btn btn-primary" ng-click = "showKidForm()"> Add Kid!</button>
          <form method = "POST" action = "/new/kid" enctype = "multipart/form-data" ng-show = "kidForm">
            <label for = "kid_name"> Enter a Name: </label>
            <br>
            <input class='form-control kidName' type="text" name="kid_name" ng-model="kid_name" required>
            <p> upload a photo: </p>
            <input type = "file" name = "file" required>
            <input type = "hidden" name = "total_hours" value = 0>
            <input type = "hidden" name = "facebook_id" value = "{{user.facebook_id}}">
            <button type="submit" class='btn btn-primary kid_submit'>Submit</button>
        </form>
    </div> -->

    </div>

  </div>


</div>



<div class="formContainerProfile" ng-show="kids.length > 0">
  <div class="newPostFormProfile">
    <form method="POST" action="/new/post" enctype="multipart/form-data">
    <div class="form-title">
      <h1>
        <p ng-model="showfoot" class='form-control titleInput' type="text" name="title" ng-model="title" >Todays Outdoor Adventure?</p>
        <input ng-model="showfoot" class='form-control titleInput' type="text" name="title" ng-model="title" required placeholder="Enter A Title *" >
      </h1>

    </div>
    <div class="form-body">
      <textarea ng-model="showfooter" rows='4' class='form-control' type="text" name="description" ng-model="description" placeholder = "Tell us some more... *" required></textarea>
    </div>
        <div class="form-footer" ng-show="showfoot && showfooter">

      <hr>
      <div class="formelement">
        <button class="location"type="button" name="button"><h5><i class="material-icons">location_on</i></h5></button>
      </div>
      <div class="formelement">
        <input class='form-control cityInput city' type="text" name="city" placeholder="City" ng-model="location" required>
      </div>
    <div class="formelement">


      <select class="form-control stateSelect state" name="state">
        <option value="AL">AL</option>
        <option value="AK">AK</option>
        <option value="AZ">AZ</option>
        <option value="AR">AR</option>
        <option value="CA">CA</option>
        <option value="CO" selected="true">CO</option>
        <option value="CT">CT</option>
        <option value="DE">DE</option>
        <option value="DC">DC</option>
        <option value="FL">FL</option>
        <option value="GA">GA</option>
        <option value="HI">HI</option>
        <option value="ID">ID</option>
        <option value="IL">IL</option>
        <option value="IN">IN</option>
        <option value="IA">IA</option>
        <option value="KS">KS</option>
        <option value="KY">KY</option>
        <option value="LA">LA</option>
        <option value="ME">ME</option>
        <option value="MD">MD</option>
        <option value="MA">MA</option>
        <option value="MI">MI</option>
        <option value="MN">MN</option>
        <option value="MS">MS</option>
        <option value="MO">MO</option>
        <option value="MT">MT</option>
        <option value="NE">NE</option>
        <option value="NV">NV</option>
        <option value="NH">NH</option>
        <option value="NJ">NJ</option>
        <option value="NM">NM</option>
        <option value="NY">NY</option>
        <option value="NC">NC</option>
        <option value="ND">ND</option>
        <option value="OH">OH</option>
        <option value="OK">OK</option>
        <option value="OR">OR</option>
        <option value="PA">PA</option>
        <option value="RI">RI</option>
        <option value="SC">SC</option>
        <option value="SD">SD</option>
        <option value="TN">TN</option>
        <option value="TX">TX</option>
        <option value="UT">UT</option>
        <option value="VT">VT</option>
        <option value="VA">VA</option>
        <option value="WA">WA</option>
        <option value="WV">WV</option>
        <option value="WI">WI</option>
        <option value="WY">WY</option>
      </select>
    </div>
        <br>

        <hr>


    <div class="formelement">
      <button class="kidslabel"type="button" name="button"><h5><i class="material-icons">child_care</i></h5></button>
    </div>


    <div class="formelement">
      <label for = "kids" ng-repeat = "kid in kids" class = "kidLabel" >{{kid.kid_name}}</label>
      <br>
      <input type = "checkbox"  ng-repeat = "kid in kids" name="kids" style = "margin-left: 30px;" value="{{kid.id}}"/>

  </div>
    <br>



<hr>
  <div class="formelement">
    <button class="hourslabel" type="button" name="button"><h5><i class="material-icons">schedule</i></h5></button>

  </div>
    <div class="formelement">
      <button type="button" class="minus" ng-click="hoursMinus()">
        <h5>-</h5>
      </button>
    </div>
    <div class="formelement">
      <button type="button" class="hours">
        <h4>{{hours}} hrs</h4>
      </button>
    </div>
    <div class="formelement">
      <button type="button" class="add" ng-click="hoursPlus()">
        <h5>+</h5>
      </button>
    </div>
  <br>

<hr>
<div class="formelement">
  <button type="button" class="image">
    <h5>
    <i class="material-icons">camera_alt</i></label></h5>
  </button>
</div>
<div class="formelement">
    <button type="button" class="imageup">
    <h5><label for="file" ng-click = "showCheck()">Choose Photo</label></h5>
    </button>
    <i class="material-icons" ng-show = "photoSelected">check</i>
    </div>

    <input class="inputfile" type="file" name="file" id="file" required/>


      <input type = "hidden" name = "facebook_id" value="{{facebook_id}}"></input>
      <input type = "hidden" name = "author_pic" value="{{author_picture}}"></input>
      <input type = "hidden" name = "author" value="{{author_name}}"></input>
      <input type = "hidden" name = "hours" value="{{hours}}"></input>
      <br>


    </div>

        <button class="sendit" type="submit"><h3><i class="material-icons">send</i> Post</h3></button>
  </form>
</div>
</div>




<div class="feedContainerProfile" ng-hide="showfoot && showfooter">

  <div masonry >
      <div class="masonry-brick feedPost container" ng-repeat="post in posts">

        <div class="post-img">
          <img src="{{post.picture_url}}" style='height: 100%; width: 100%; object-fit: cover' />
        </div>
        <div class="post-content">
            <a class="author" href = "/#/user/{{post.facebook_id}}">{{post.author}}</a>
            <p class="points"><img class="pointsicon"src="../../img/logo.png"/></p>
            <h1 class="title">{{post.title}}</h1>
            <p class="description">{{post.description}}</p>
        </div>
        <div class="bottom">
          <p class="points"><img class="pointsicon"src="../../img/logo.png"/>{{post.hours}} hours outside</p>
        <p> {{post.location}}</p>
        <p class="edit"><a href='/#/feed' ng-click = "deletePost()" ng-show="post.facebook_id == user" >Delete</a></p>
      </div>
      </div>
  </div>

</div>
