.form-title {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 100%; }
  .form-title input {
    width: 100%; }

.form-body {
  width: 100%;
  height: 12em;
  padding-left: 1em;
  padding-right: 1em; }

.form-footer {
  width: 100%;
  background-color: grey;
  height: 3em;
  display: none; }
  .form-footer input {
    padding: 1em;
    background-color: grey; }

.flex1 {
  flex-grow: 1; }

.flex2 {
  flex-grow: 2; }

textarea {
  border: none;
  outline: none;
  width: 100%;
  resize: none;
  height: 100%; }

input {
  outline: none;
  border: none; }

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

button {
  flex-grow: 1;
  outline: none;
  border: none;
  height: 3em;
  padding: 0.5em;
  background-color: skyblue; }
  button h5 {
    font-size: 0.8em;
    letter-spacing: 0.2em; }

select {
  flex-grow: 1;
  outline: none;
  border: none;
  height: 3em;
  padding: 0.5em;
  background-color: teal;
  -webkit-appearance: none;
  -webkit-border-radius: 0px; }
