.templates {
  padding-top: 6em;
  width: 1200px;
  margin: auto; }

@media (max-width: 1250px) {
  .templates {
    width: 950px; } }

@media (max-width: 1000px) {
  .templates {
    width: 600px; } }

@media (max-width: 650px) {
  .templates {
    padding-top: 5em;
    padding-bottom: 10em !important;
    width: 95%;
    margin: auto; } }
